<div class="table-scroll">
<table class="my-table">
  <thead>
  <tr >
    <th class="my-header">Semestre 5</th>
    <th class="my-header">CC</th>
    <th class="my-header">TP</th>
    <th class="my-header">Partiel1</th>
    <th class="my-header">Partiel2</th>
    <th class="my-header">Projet</th>
    <th class="my-header">Rapport</th>
    <th class="my-header">Exposé</th>
    <th class="my-header">Stage</th>
    <th class="my-header">Coef</th>
    <th class="my-header">Note Finale</th>

  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let item of data">
    <td>{{ item.UE }}</td>
    <td>{{ item.CC }}</td>
    <td>{{ item.TP }}</td>
    <td>{{ item.Partiel1 }}</td>
    <td>{{ item.Partiel2 }}</td>
    <td>{{ item.Projet }}</td>
    <td>{{ item.Rapport }}</td>
    <td>{{ item.Expose }}</td>
    <td>{{ item.Stage }}</td>
    <td>{{ item.Coef }}</td>
    <td>{{ item.NoteFinale }}</td>
  </tr>
  </tbody>
</table>
</div>


<br><br>
<div class="table-scroll">
  <table class="my-table">
    <thead>
    <tr >
      <th class="my-header">Semestre 6</th>
      <th class="my-header">CC</th>
      <th class="my-header">TP</th>
      <th class="my-header">Partiel1</th>
      <th class="my-header">Partiel2</th>
      <th class="my-header">Projet</th>
      <th class="my-header">Rapport</th>
      <th class="my-header">Exposé</th>
      <th class="my-header">Stage</th>
      <th class="my-header">Coef</th>
      <th class="my-header">Note Finale</th>

    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of data_Bis">
      <td>{{ item.UE }}</td>
      <td>{{ item.CC }}</td>
      <td>{{ item.TP }}</td>
      <td>{{ item.Partiel1 }}</td>
      <td>{{ item.Partiel2 }}</td>
      <td>{{ item.Projet }}</td>
      <td>{{ item.Rapport }}</td>
      <td>{{ item.Expose }}</td>
      <td>{{ item.Stage }}</td>
      <td>{{ item.Coef }}</td>
      <td>{{ item.NoteFinale }}</td>
    </tr>
    </tbody>
  </table>
</div>
<br><br>
