table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  background-color: #fafafa;
}

th {
  background-color: #f2f2f2;
}

.table-scroll {
  max-height: 400px; /* Hauteur maximale de la div */
  overflow: auto; /* Ajoute une barre de défilement en cas de dépassement de la hauteur maximale */
}
